############################
# Global policy
############################

# ignore all files & folders starting with . or ~
**/.*
**/~*

# allow selected dot-files and dot-dirs
!.gitignore
!.github/
!.dockerignore
!.eslintrc
!.npmrc
!.nvmrc
!.env.example
!.editorconfig
!.prettierrc
!.prettierrc.json
!.eslintignore
!.helmignore


############################
# Frontend (Next.js / Node)
############################

node_modules/
frontend/node_modules/
frontend/.next/
frontend/*.tsbuildinfo
frontend/next-env.d.ts
frontend/out/
frontend/.pnp/
build/
dist/
**out/


############################
# Secrets / local config
############################

*.pem
**/.env*


############################
# IDE / Editor
############################

.vscode/
.idea/
*.swp
*.swo


############################
# OS junk
############################

.DS_Store


############################
# Compiled artifacts
############################

*.class
*.o
*.so
*.com


############################
# Packaged / archived files
############################

*.gz
*.jar
*.tar
*.zip


############################
# Logs
############################

*.log
